{% extends "layout.html" %}

{% block head %}
    <title>Documents | Glen Rock Troop 15</title>
    <link rel="icon" type="image/png" href="static/troopLogo.png"/>
    <link rel="stylesheet" href="static/styles.css">
{% endblock %}

{% block body %}
    <div class="container">
		<div class="container-item header">
			<logo><a href="/"><img src="static/troopLogo.png"></a></logo>
				<div class="navbar">
					<a class="nav-item" href="/">Home</a>
					<a class="nav-item" href="/calendar">What's happening?</a>
					<a class="nav-item" href="/documents">Documents</a>
					<a class="nav-item" href="/links">Useful Links</a>
					<a class="nav-item" href="https://scoutbook.scouting.org/" target = "_blank" rel="noreferrer noopener">Scoutbook</a>
				</div>
		</div>
		<div class="documents fill">
			<div class="doc-item handbook">
				<a href="static/Troop15_Handbook2023.pdf" target = "_blank" rel="noreferrer noopener"><span class="pdfs"> PDF </span></a> <br>
				<div class="caption">
					<h2> Handbook </h2> <br>
					Everything a parent and scout needs to know about Troop 15.
				</div>
			</div>
			<div class="doc-item permissions">
				<a href="static/PermissionSlip.pdf" target = "_blank" rel="noreferrer noopener"><span class="pdfs"> PDF </span></a> <br>
				<div class="caption">
					<h2> Permission Slips </h2> <br>
					Permission slips are required for any overnight activities.
				</div>
			</div>
			<div class="doc-item medical">
				<a href="static/MedicalForms.pdf" target = "_blank" rel="noreferrer noopener"><span class="pdfs"> PDF </span></a> <br>
				<div class="caption">
					<h2> Medical Forms </h2> <br>
					Parts A, B and C of this form are required for any Scout attending summer camp.
				</div>
			</div>
		</div>
		<div class="main-item copyright">
			©2023 by Glen Rock Troop 15
		</div>
	</div>
{% endblock %}
