<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/templates/tableImage.css">
    <title>Image Gallery</title>
</head>
<body>
    <h1>Image Gallery</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for row in images %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td><img with="250" height="250" src="data:image/png;base64,{{ row[1] }}" alt="Image"></td>
                    <td>{{ row[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/">Go back to main page</a>
</body>
</html>
