<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="/templates/table.css"> -->
    <style>
        body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

    </style>
    <title>Pictures Gallery</title>
</head>
<body>
    <h1>Pictures Gallery</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for row in images %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td><img src="data:image/png;base64,{{ row[1] }}" alt="Image"></td>
                    <td>{{ row[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/">Go back to main page</a>
</body>
</html>
