<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Document</title>
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Crear">Category</a></li>
        </ul>
    </nav>
</head>

<body>
    <article>
        <form action="/Crear" method="post">
            <label for="Nombre">Nombre</label>
            <input type="text" name="Nombre" placeholder="Ingrese el nombre del estudiante">

            <label for="Apellido">Apellido</label>
            <input type="text" name="Apellido" placeholder="Ingrese el apellido del estudiante">

            <label for="Ciclo">Ciclo</label>
            <input type="text" name="Ciclo" placeholder="Ingrese el ciclo del estudiante">

            <label for="Programa">Programa</label>
            <input type="text" name="Programa" placeholder="Ingrese el programa del estudiante">

            <input type="submit" placeholder="Crear Estudiante">
        </form>
    </article>
</body>

</html>