{% extends "layout.html" %}

{% block head %}
    <title>Links | Glen Rock Troop 15</title>
    <link rel="icon" type="image/png" href="troopLogo.png"/>
    <link rel="stylesheet" href="styles.css">
{% endblock %}

{% block body %}
    <div class="container">
		<div class="container-item header">
			<logo><a href="index.html"><img src="troopLogo.png"></a></logo>
				<div class="navbar">
					<a class="nav-item" href="index.html">Home</a>
					<a class="nav-item" href="calendar.html">What's happening?</a>
					<a class="nav-item" href="documents.html">Documents</a>
					<a class="nav-item" href="links.html">Useful Links</a>
					<a class="nav-item" href="https://scoutbook.scouting.org/" target = "_blank" rel="noreferrer noopener">Scoutbook</a>
				</div>
		</div>
		<div class="links">
			<div class="links-item links-nj">
				Northern NJ Council: <br>
				Council resources including scouting calendar & other resources. <br>
				<a href="https://www.nnjbsa.org/">www.nnjbsa</a>
			</div>
			<hr>
			<div class="links-item links-shop">
				The Scout Shop: <br>
				A great source for uniforms and other scouting paraphernalia. <br>
				<a href="www.scoutshop.org">www.scoutshop.org</a>
			</div>
			<hr>
			<div class="links-item links-bryan">
				Bryan on Scouting: <br>
				A tremendous source for all things scouting. <br>
				<a href="blog.scoutingmagazine.org">blog.scoutingmagazine.org</a>
			</div>
			<hr>
			<div class="links-item links-book">
				Scoutbook: <br>
				Secure access to your scouts records. <br>
				<a href="www.scoutbook.com">www.scoutbook.com</a>
			</div>
			<hr>
			<div class="links-item links-snap">
				Teamsnap: <br>
				Troop 15's mechanism for communicating. <br>
				<a href="www.teamsnap.com">www.teamsnap.com</a>
			</div>
			<hr>
			<div class="links-item links-badges">
				Merit badges: <br>
				A resource for scouting that outlines all requirements for scouts of every rank. <br>
				<a href="www.scouting.org/meritbadges.aspx">www.scouting.org/meritbadges.aspx</a>
			</div>
			<hr>
			<div class="links-item links-app">
				myScouting App: <br>
				A mobile app to log and track your scouting records. <br>
				<a href="itunes.apple.com/us/app/myscouting/id1186037730?mt=8">itunes.apple.com/us/app/myscouting/id1186037730?mt=8 (iOS)</a> <br>
				<a href="play.google.com/store/apps/details?id=com.myscouting">play.google.com/store/apps/details?id=com.myscouting (Android)</a>
			</div>
		</div>
		<div class="main-item copyright">
			©2023 by Glen Rock Troop 15
		</div>
	</div>
{% endblock %}
